:root {
  --body-font-family: "Poppins", sans-serif;
  --heading-font-family: "Playfair Display", serif;
  --primary-color: #6c63ff;
  --secondary-color: #f9f7fe;
}

body {
  font-family: var(--body-font-family);
}
h1 {
  font-family: var(--heading-font-family);
  font-size: 96px;
  font-weight: bold;
}

h2 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 64px;
}

nav {
  padding: 40px 0 0 0;
  background-color: var(--secondary-color);
}

nav img {
  max-height: 40px;
}

nav li {
  display: inline;
  padding: 0 20px;
}

nav li a {
  color: #272142;
  opacity: 0.7;
  font-size: 16x;
  line-height: 41px;
}

nav a:hover,
a.active {
  color: var(--primary-color);
  text-decoration: none;
}

p {
  font-size: 16px;
  line-height: 30px;
  font-weight: regular;
  color: rgba(39, 33, 66, 0.7);
}

footer .email-link {
  font-size: 24px;
  color: black;
  font-weight: 400;
}
footer .contact-box {
  margin: 130px 0 30px;
  background-color: var(--secondary-color);
  border-radius: 20px;
  padding: 40px 120px;
}

footer .social-media a {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  font-size: 18px;
  padding: 10px 14px;
  border-radius: 50%;
  margin: 15px;
}

footer .social-media a:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.content-section {
  margin: 170px auto;
}
.content-section h1 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 64px;
  line-height: 85px;
}

.content-section h2 {
  font-family: var(--body-font-family);
  font-weight: bold;
  font-size: 18px;
  margin: 20px 0 0;
}

.email-link {
  font-size: 24px;
  color: black;
  font-weight: 400;
}

.hero {
  text-align: center;
  background-color: var(--secondary-color);
  padding: 150px 20px;
}
.hero h2 {
  font-size: 24px;
  font-weight: normal;
  color: #272142;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  color: #272142;
}

.primary-button {
  font-size: 18px;
  font-weight: 500;
  color: white;
  background-color: var(--primary-color);
  padding: 18px 46px;
  border-radius: 4px;
}

.secondary-button {
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  font-size: 16px;
  color: var(--primary-color);
  padding: 18px 25px;
}
.project-description {
  padding: 100px 30px 0 30px;
}

.work-image {
  border-radius: 20px;
}

@media (max-width: 992px) {
  h1 {
    font-size: 64px;
  }
  h2 {
    font-size: 44px;
  }
  .content-section {
    margin: 60px auto;
  }
  .content-section h1 {
    font-size: 40px;
    line-height: 51px;
    margin-top: 30px;
  }

  .hero {
    padding: 80px 20px;
  }

  .project-description {
    text-align: center;
    padding: 40px 20px 0px 20px;
  }
}

nav li a {
  padding: 8px;
  font-size: 14px;
}
