:root {
  --body-font-family: "Poppins", sans-serif;
  --heading-font-family: "Playfair Display", serif;
  --primary-color: #6c63ff;
  --secondary-color: #f9f7fe;
}

body {
  font-family: var(--body-font-family);
}
h1 {
  font-family: var(--heading-font-family);
  font-size: 96px;
  font-weight: bold;
}

h2 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 64px;
}

p {
  font-size: 16px;
  line-height: 30px;
  font-weight: regular;
  color: rgba(39, 33, 66, 0.7);
  padding: 20px 0;
}

.about-section {
  margin: 170px auto;
}
.about-section h1 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 64px;
  line-height: 85px;
}

.about-section h2 {
  font-family: var(--body-font-family);
  font-weight: bold;
  font-size: 18px;
  margin: 20px 0 0;
}

.hero {
  text-align: center;
  background-color: var(--secondary-color);
  padding: 190px 20px;
}
.hero h2 {
  font-size: 24px;
  font-weight: normal;
  color: #272142;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  color: #272142;
}

.primary-button {
  font-size: 18px;
  font-weight: 500;
  color: white;
  background-color: var(--primary-color);
  padding: 18px 46px;
  border-radius: 4px;
}

.secondary-button {
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  font-size: 16px;
  color: var(--primary-color);
  padding: 18px 25px;
}
.project-description {
  padding: 100px 30px 0 30px;
}

@media (max-width: 992px) {
  h1 {
    font-size: 64px;
  }
  h2 {
    font-size: 44px;
  }
  .about-section {
    margin: 60px auto;
  }
  .about-section h1 {
    font-size: 40px;
    line-height: 51px;
    margin-top: 30px;
  }

  .project-description {
    text-align: center;
    padding: 40px 20px 0px 20px;
  }
}
